#APP BASE
APP_NAME= "ms-nest-screaming-architecture"
HTTP_PORT="3000"
NODE_ENV="development"
ENVIRONMENT="local"

#LOGGER
LOG_LEVEL="debug"
LOGGER_MESSAGE_KEY="msg"
LOGGER_TARGET="pino-pretty"
LOGGER_ERROR_KEY="error"

#SECURITY
#throttle
THROTTLE_TTL="60000"
THROTTLE_REQUESTS="10"
THROTTLE_BLOCK_DURATION="30000"
#cors
CORS_ORIGIN="http://localhost:3000,http://127.0.0.1:3000"
CORS_CREDENTIALS="true" 
CORS_METHODS="GET,POST,PUT,DELETE,PATCH,OPTIONS"
CORS_ALLOWED_HEADERS="Content-Type,X-Requested-With,Cache-Control,Authorization,Accept,Origin,x-correlation-id,x-request-id,x-message-id"

#CACHE
REDIS_PORT="6379"
REDIS_PASSWORD="123456"
REDIS_HOST="localhost"
REDIS_USE_TLS="false"

#Database
POSTGRES_PORT="5432"
POSTGRES_USER="user"
POSTGRES_PASSWORD="123456"
POSTGRES_DB="test"
DATABASE_URL="postgres://user:123456@localhost:5432/test?schema=public"

#HTTP CLIENT
HTTP_CLIENT_TIMEOUT="30000"
HTTP_CLIENT_MAX_RATE="1000"
HTTP_CLIENT_MAX_REDIRECTS="5"
HTTP_CLIENT_MAX_RETRIES="3"

#HEALTH
HEALTH_CHECK_MEMORY_HEAP_LIMIT="1000000000" # 1GB
